#backlog {
  @include full-sized();
  @include flex(initial, center);
  flex-direction: column;

  & > #header {
    @include flex(flex-start, center);
    width: 100%;
    height: 45px;
    border-bottom: 1.5px solid $darker-bg;
    position: relative;

    & > img {
      width: 30px;
      height: 30px;
      object-fit: contain;
      margin: 0px 10px 0px 20px;
    }

    & > span {
      @include lato('Black');
      color: white;
      font-size: 18px;
    }

    & > button {
      @include clear-buttons($main-color);
      color: white;
      @include lato('Semibold');
      position: absolute;
      right: 10px;
      font-size: 16px;
      padding: 4px 10px;
      border-radius: 10px;
    }
  }

  & > #table-container {
    flex: 1;
    margin: 10px;
    // padding: 20px 0 20px 0;
    width: 95%;
    border-radius: 15px;
    background-color: $dark-bg;
    overflow-y: auto;
    @include flex(center, flex-start);

    & > table {
      width: 100%;
      border: none;
      border-bottom: 1px solid $darker-bg;
      border-collapse: collapse;
      // height: 95%;
      
      padding: 0 !important;
  
      & > tbody > tr {
        & > th:first-child, & > td:first-child {
          border-left: none;
        }

        & > th:last-child, & > td:last-child {
          border-right: none;
        }

        & > td {
          border-left: 1px solid $darker-bg;
          border-right: 1px solid $darker-bg;
          text-align: center;
          @include lato('');
          color: white;
          font-size: 14px;
          padding: 15px 0 15px 0;
        }
  
        & > td:nth-of-type(1) {
          @include lato('Bold');
          font-size: 16px;
        }

        & > th {
          border: 1px solid $darker-bg;
          @include lato('Bold');
          background-color: $darker-bg;
          color: white;
          font-size: 16px;
          padding-top: 5px;
          padding-bottom: 5px;
          border: none;
        }
  
        & > th:nth-of-type(1) {
          border-top-left-radius: 15px;
          width: 25%;
        }
  
        & > th:nth-of-type(2) {
          width: 15%;
        }
        
        & > th:nth-of-type(3) {
          width: 15%;
        }
  
        & > th:nth-of-type(4) {
          width: 15%;
        }
  
        & > th:nth-of-type(5) {
          width: 20%;
        }
  
        & > th:nth-of-type(6) {
          border-top-right-radius: 15px;
          width: 10%;
        }
      }
    }
  }
}