@media only screen and (min-width: 801px) {
  #register-card {
    @include card(80%, 70%);
    @include flex(initial, initial);
    flex-direction: column;
    position: relative;
    background-color: $bg;
    color: $grey-font;
    padding: 15px 25px;

    & > img {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 20px;
      top: 20px;
      &:hover {
        cursor: pointer;
      }
    }

    & > p {
      margin: 0;
    }

    & > div {
      @include flex(center, center);
      flex: 1;

      & > div {
        width: 50%;
        height: 100%;

        & > p {
          @include lato('Bold');
          font-size: 20px;
          margin: 10px 10px;
        }

        & > input {
          @include clear-input(white);
          @include lato('Bold');
          height: 35px;
          width: 96%;
          padding: 1% 2%; 
          font-size: 22px;
          margin-left: 10px;

          &::placeholder {
            color: #A4ABB5;
          }
        }
      }
    }

    & > p:nth-of-type(1) {
      @include lato('Black');
      color: white;
      font-size: 32px;
    }
  }
}