@media only screen and (min-width: 801px) {
  #register-card {
    @include card(55%, 70%);
    @include flex(initial, initial);
    flex-direction: column;
    position: relative;
    background-color: $bg;
    color: $grey-font;
    padding: 15px 25px;

    & > button {
      @include clear-buttons($main-color);
      @include lato('Bold');
      color: white;
      position: absolute;
      right: 20px;
      bottom: 20px;
      font-size: 18px;
      padding: 10px 15px;
      border-radius: 10px;
    }

    & > img {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 20px;
      top: 20px;
      &:hover {
        cursor: pointer;
      }
    }

    & > p {
      margin: 0;
    }

    & > div {
      @include flex(center, center);
      flex: 1;

      & > div {
        width: 50%;
        height: 100%;

        & > #gh-btn {
          @include clear-buttons(white);
          @include lato('Bold');
          position: relative;
          color: #24292E;
          width: 220px;
          height: 50px;
          border-radius: 10px;
          text-align: right;
          padding-right: 30px;

          & > img {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 10px;
            left: 10px;
          }
        }

        &:nth-of-type(2) {
          padding-left: 40px;
        }

        & > p {
          @include lato('Bold');
          font-size: 20px;
          margin: 10px 10px;
        }

        & > input {
          @include clear-input(white);
          @include lato('Bold');
          height: 35px;
          width: 96%;
          padding: 1% 2%; 
          font-size: 22px;
          margin-left: 10px;

          &::placeholder {
            color: #A4ABB5;
          }
        }

        & > div {
          @include flex(initial, initial);
          & > img {
            width: 150px;
            height: 150px;
            border-radius: 100%;
            object-fit: contain;
            background: rgba(0, 0, 0, 0.4);
            margin-left: 20px;
          }
          & > div > button {
            @include clear-buttons($darker-bg);
            color: white;
            @include lato('Bold');
            width: 200px;
            height: 40px;
            border-radius: 10px;
            margin-left: 20px;
            &:nth-of-type(2), &:nth-of-type(3) {
              margin-top: 10px;
            }
          }
        }

         & > #gh-profile {
          @include card(370px, 180px);
          position: relative;
          display: block;
          padding: 10px;

          & > button {
            position: absolute;
            @include clear-buttons($error);
            @include lato('Bold');
            color: white;
            right: 15px;
            bottom: 15px;
            padding: 10px;
            border-radius: 10px;
          }

          & > p {
            margin: 0;
            padding: 0px 10px;
            @include lato('Regular');
            color: white;
            & > span {
              @include lato('Black');
            }
          }

          & > div {
            @include flex(initial, initial);
            & > img {
              margin: 10px;
              width: 80px;
              height: 80px;
              border-radius: 100%;
            }
            & > div > p {
              @include lato('Thin');
              color: white;
              margin: 0;
              margin-top: 4px;
            }
            & > div > p:nth-of-type(1) {
              @include lato('Black');
              color: white;
              margin-top: 15px;
            }
          }
        }
      }
    }

    & > p:nth-of-type(1) {
      @include lato('Black');
      color: white;
      font-size: 32px;
    }
  }
}