#carousel {
  user-select: none;
}

@media only screen and (min-width: 801px) {
  #carousel > div:first-child {
    @include flex(center, center);
    @include full-sized();
    @include opacity-keyframes(300ms);

    & > img {
      object-fit: contain;
    }

    & > img:nth-child(1), & > img:nth-child(3) {
      width: 25px;
      margin: 40px;
      &:hover {
        cursor: pointer;
      }
    }

    & > img:nth-child(1) {
      transform: rotate(180deg);
    }

    & > img:nth-child(2) {
      width: 400px;
      @include opacity-keyframes(300ms);
    }
  }

  #carousel > div:last-child {
    @include flex(center, center);
    margin-top: 20px;

    & > img {
      width: 20px;
      margin: 5px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}