@import 'toolbar';
@import 'carousel';
@import 'navigation';
@import 'navigation-item';
@import 'collaborator-item';
@import 'search-users';
@import 'calendar';
@import 'task-item';
@import 'subtasks';
@import 'comments';
@import 'complete-sprint';
@import 'search-repos';

#loading {
  @include absolute-center(both);
  @include full-sized();
  @include flex(center !important, center !important);
  user-select: none;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  & > p {
    color: white; 
    @include lato('Black');
    text-align: center;
  }
}

.toast-body {
  @include lato('Black');
  padding-left: 10px;
}

.information-toast {
  background-color: $main-color !important;
}