#navigation {
  height: 100%;
  width: 20%;
  background-color: $darker-bg;
  overflow: hidden;
  @include noice-scrollbar(#17191B);

  & > div {
    @include full-sized();
    overflow-y: scroll;
    color: white;

    & > div {
      position: relative;

      & > #active-indicator {
        position: absolute;
        background: white;
        width: 5px;
        height: 30px;
        top: -4px;
        left: 0px;
        border-radius: 2px;
      }
    
      & > p:nth-of-type(1), & > p:nth-of-type(2) {
        @include lato('Semibold');
        @include flex(initial, center);
        font-size: 18px;
        padding: 0px 20px;
        margin: 15px 0px;
        &:hover { cursor: pointer; }

        & > img {
          width: 18px;
          height: 18px;
          margin-right: 10px;
        }
      }

      & > p:nth-of-type(1) {
        margin-top: 10px;
      }
    }

    & > p:nth-of-type(1) {
      @include lato('Black');
      font-size: 24px;
      text-align: center;
      margin: 10px 0px 5px 0px;
    }

    & > #workspace-item {
      @include lato('Semibold');
      @include flex(flex-start, center);
      height: 50px;
      font-size: 19px;
      padding: 0px 0px 0px 12px;
      position: relative;
      &:hover { cursor: pointer; }

      & > #active-indicator {
        @include opacity-keyframes(200ms);
        height: 40px;
        width: 5px;
        background-color: white;
        position: absolute;
        left: 0px;
        top: 5px;
        border-radius: 2px;
      }

      & > p {
        padding-left: 10px;
        margin: 0;
        flex: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      & > #icon {
        @include flex(center, center);
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: $main-color;
      }
    }
  }
}