#seach-users {
  background-color: $darker-bg;
  border-radius: 10px;
  height: 40px;
  position: relative;
  @include flex(center, initial);
  @include lato('Semibold');
  user-select: none;

  & > input {
    @include clear-input($darker-bg);
    padding: 10px 30px 10px 10px;
    @include lato('Regular');
    color: white;
    flex: 1;
  }

  & > img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  & > div {
    position: absolute;
    width: 100%;
    top: 50px;
    min-height: 60px;
    max-height: 240px;
    background-color: $darker-bg;
    @include flex(center, center);
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    @include opacity-keyframes(300ms);
  }
}

#user-card {
  width: 100%;
  height: 60px;
  padding: 5px;
  @include flex(initial, center);

  &:hover { cursor: pointer; }

  & > div:nth-of-type(1) {
    flex: 1;
    padding: 0px 10px;

    & > p { margin: 5px; }

    & > p:nth-of-type(1) {
      @include lato('Black');
    }

    & > p:nth-of-type(2) {
      @include lato('Regular');
    }
  }

  & > img:nth-of-type(1) {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 10px;
  }

  & > img:nth-of-type(2) {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 20px;
  }

  & > select {
    background-color: $darker-bg !important;
    border: none !important;
    color: white !important;
    @include lato('Semibold');
    padding: 8px !important;
    font-size: 16px !important;
    border-radius: 10px !important;
    width: initial !important;
    height: initial !important;
    margin-bottom: initial !important;
  }
}