#subtasks {
  width: 99%;
  min-height: 100px;
  max-height: 250px;
  margin-top: 5px;


  & > div:nth-of-type(1) {
    width: 100%;
    @include flex(space-around, center);

    & > p {
      @include lato('Bold');
      color: $grey-font;
    }
    
    & > #progress-bar {
      width: 90%;
      position: relative;
      height: 20px;
      border-radius: 10px;
      background-color: $dark-bg;

      & > div {
        position: absolute;
        left: 0;
        background-color: $main-color;
        height: 20px;
        border-radius: 10px;
        transition: width 300ms;
      }
    }
  }

  & > div:nth-of-type(2) {
    overflow-y: scroll;
    flex: 1;
    max-height: 200px;
    ::-webkit-scrollbar-thumb {
      background: $main-color;
      border-radius: 5px;
    }
    
    & > #create-subtask {
      width: 90%;
      @include flex(flex-start, flex-start);
      margin: 0px 10px;

      & > input {
        @include clear-input($dark-bg);
        flex: 1;
        height: 30px;
        @include lato('Semibold');
        color: white;
        padding: 0px 10px;
        font-size: 16px;
      }

      & > button {
        @include clear-buttons($main-color);
        margin: 0px 10px;
        @include lato('Bold');
        color: white;
        font-size: 16px;
        border-radius: 10px;
        padding: 5px 10px;
      }
    }

    & > .st-item {
      width: 90%;
      min-height: 30px;
      @include flex(flex-start, flex-start);
      margin: 0px 10px;

      & > img {
        width: 18px;
        height: 18px;
        object-fit: contain;
        margin-top: 1px;
        &:hover { cursor: pointer; }
      }

      & > p {
        @include lato('Semibold');
        margin: 0px 0px 0px 10px;
        flex: 1;
        min-height: 20px;
        font-size: 18px;
      }
    }
  }
}