@font-face {
  font-family: 'Lato Bold';
  src: url('../assets/fonts/Lato-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Black';
  src: url('../assets/fonts/Lato-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Light';
  src: url('../assets/fonts/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Thin';
  src: url('../assets/fonts/Lato-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Semibold';
  src: url('../assets/fonts/Lato-Semibold.ttf') format('truetype');
}